<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Portfolio</title>
    <link rel="stylesheet" href="/styles.css" type="text/css">
</head>
<body>
    <div class="navbar">
        <nav>
            <ul class="navbar-items">
                <li class="navbar-item text-lg"><a href="/">Home</a></li>
                <li class="navbar-item text-md"><a href="/projects">Projects</a></li>
                <li class="navbar-item text-md"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <section layout:fragment="content">
        <p>If you're seeing this, there's an error.</p>
        <!-- Content will be replaced by child templates -->
    </section>
    
    <footer>
        <p>&copy; 2024 Portfolio Application</p>
    </footer>
</body>
</html>
