<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<section layout:fragment="content">
    <!-- Content specific to home page -->
    <h1>Welcome to the Home Page</h1>
        <p>This is the content of the home page.</p>
        <h2>
            Hello, my name is Emanuel Alcala-Arredondo!
        </h2>
        <img src="images/professional-pic.jpg" alt="Professional Picture">
        <p>Current IT Professional, aspiring Software Developer.</p>
</section>
</body>
</html>
    
