<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <meta charset="UTF-8">
    <title>Emanuel - Projects</title>
</head>
<body>
    <section layout:fragment="content">
        <div class="project-initial mt-md ml-md">
            <h1 class="color-primary text-xl">Projects</h1>
        </div>
        <div class="project-container card">
            <div class="project mr-md">
                <a href="https://github.com/Nuell-A/Capstone" target="_blank" class="project-title pl-md text-primary ml-sm">Quiz Game</a>
                <ul class="tech-list">
                    <li class="tech tech-item">Python</li>
                    <li class="tech tech-item">Pygame</li>
                    <li class="tech tech-item">MySQL</li>
                    <li class="tech tech-item">Socket Programming</li>
                    <li class="tech tech-item">Multi-threading</li>
                </ul>
            </div>
            <div class="project-descr">
                <p>Developed a client-server quiz game application. Users can host or join lobbies, chat, and play a quiz round.</p>
                <ul>
                    <li>Implemented backend server using Python to handle application logic, database interactions, and multiple connections
                        through multi-threading.
                    </li>
                    <li>Created the client UI with Pygame, this enables users to interact with the game, send requests to the server, and
                        handle responses.
                    </li>
                    <li>Used MySQL for database management to store questions, user scores, and game sessions.</li>
                    <li>Real-time chat functionality in the game lobby by using socket programming.</li>
                    <li>Designed a state machine to manage game states; menu, lobby, quiz, and results.</li>
                    <li>Implemented error handling, logging, and a timer with score tracking.</li>
                </ul>
            </div>
        </div>
        <div class="project-container card">
            <div class="project mr-md">
                <a href="https://github.com/Nuell-A/BookStore-Flask" target="_blank" class="project-title pl-md text-primary ml-sm">Book Store</a>
                <ul class="tech-list">
                    <li class="tech tech-item">Python</li>
                    <li class="tech tech-item">Flask</li>
                    <li class="tech tech-item">HTML5&CSS</li>
                    <li class="tech tech-item">Jinja</li>
                    <li class="tech tech-item">Bootstrap</li>
                    <li class="tech tech-item">MySQL</li>
                    <li class="tech tech-item">Password Encryption</li>
                </ul>
            </div>
            <div class="project-descr">
                <p>Created a web application for an online bookstore using the Flask framework. Users can login/logout, add items to 
                    their cart, checkout, and return items. 
                </p>
                <ul>
                    <li>Front-end designed with HTML/CSS and Bootstrap for a responsive and user-friendly interface.</li>
                    <li>Employed Jinja for easy templating within Flask.</li>
                    <li>Managed book and user data using MySQL and SQLAlchemy for database interactiosn.</li>
                    <li>Implemented secure user authentication with hashed passwords to protect user data.</li>
                    <li>Provided features such as book searching, cart management, checkout process, and user account creation/login.</li>
                </ul>
            </div>
        </div>
        <div class="project-container card">
            <div class="project mr-md">
                <a href="#" class="project-title pl-md text-primary ml-sm">Portfolio</a>
                <ul class="tech-list">
                    <li class="tech tech-item">Java</li>
                    <li class="tech tech-item">Spring Boot</li>
                    <li class="tech tech-item">HTML5&CSS</li>
                    <li class="tech tech-item">Thymeleaf</li>
                    <li class="tech tech-item">Maven</li>
                    <li class="tech tech-item">Docker</li>
                </ul>
            </div>
            <div class="project-descr">
                <p>THIS personal portfolio website to showcase skills and projects. </p>
                <ul>
                    <li>Utilized Spring boot for backend to handle dynamic content to server web pages.</li>
                    <li>Designed Front-end using vanilla CSS for custom styling, improving my understanding of CSS fundamentals.</li>
                    <li>Integrated Thymeleaf HTML templating to render content.</li>
                    <li>Managed project dependencies and build process with Maven.</li>
                    <li>Containerized this application using Docker for easy deployment.</li>
                </ul>
            </div>
        </div>
        <div class="project-container card">
            <div class="project mr-md">
                <a href="#" class="project-title pl-md text-primary ml-sm">Mileage Tracker</a>
                <ul class="tech-list">
                    <li class="tech tech-item">Dart</li>
                    <li class="tech tech-item">Flutter</li>
                    <li class="tech tech-item">SQFlite</li>
                    <li class="tech tech-item">Geolocator</li>
                    <li class="tech tech-item">iOS/Android Simulators</li>
                </ul>
            </div>
            <div class="project-descr">
                <p>Developed a cross-platform mobile application using Flutter to track mileage for individual contractors for tax purposes.</p>
                <ul>
                    <li>Used Dart for writing the application code, ensuring cross-platform compatibility.</li>
                    <li>Integrated SQFlite for local storage of mileage data, enabling offline functionality.</li>
                    <li>Implemented Geolocator to access GPS data for auto mileage tracking.</li>
                    <li>Tested application using iOS and Android simulators to ensure performance.</li>
                    <li>Focused on creating usefule features and a user-friendly interface.</li>
                </ul>
            </div>
        </div>
        <div class="project-container card">
            <div class="project mr-md">
                <a href="https://github.com/Nuell-A/MovieNight" target="_blank" class="project-title pl-md text-primary ml-sm">Screen-Sharing Application</a>
                <ul class="tech-list">
                    <li class="tech tech-item">Python</li>
                    <li class="tech tech-item">Flask</li>
                    <li class="tech tech-item">JavaScript</li>
                    <li class="tech tech-item">HTML&CSS</li>
                    <li class="tech tech-item">WebRTC</li>
                    <li class="tech tech-item">SocketIO</li>
                </ul>
            </div>
            <div class="project-descr">
                <p>Developed a real-time screen-sharing application that enables users to share their screen with others over the internet.</p>
                <ul>
                    <li>Implemented backend using Python and Flask to handle session management and client-server communication.</li>
                    <li>Used SocketIO for real-time, bi-directional communication between server and clietns ensuring low-latency interactions.</li>
                    <li>Leveraged WebRTC for peer-to-peer screen sharing and video/audio streaming, ensuring hight quality and secure media transmission.</li>
                    <li>Front-end built with JavaScript and HTML/CSS.</li>
                </ul>
            </div>
        </div>
    </section>

</body>
</html>